body{
    background-image: url(image\mountain.jpg);
}
.containerone{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, blue, rgba(100, 100, 100, 0)); */
    background-image: url(../image/mountain.jpg);
}


.containertwo h1{
    font-size: 120px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 16%;

}

.containertwo ul{
    list-style: none;
    display: inline;
}

.containertwo li{
    display: inline-block;
    margin-right: 19%;
    
    
}

.containertwo a{
    color: white;
    font-weight: bold;
}

.containertwo a:hover{
    color: rgba(128, 128, 128, 0.527);
}

.forme{
    padding-top: 20%;
    text-align: center;
    background-image: url(../image/mountain.jpg);
    padding-bottom: 40%;
}

.forme label{
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-right: 20px;

}

.forme input{
    padding-right: 20px;

}

.forme p{
    padding-right: 40px;
}

.forme> bouton{

    padding-right: 10%;
}